
/* MOBILNA VERZIJA STARICE */
@media only screen and (max-width: 650px) {


.ponuda__content-row{
    display:flex;
    flex-direction: column;
}

h1,h4 {
    text-align:center;
    justify-content: center;
}

h4 {
    color:#cc007b;
    text-transform: uppercase;
}

h1{
color:white;
}

.ponuda__content-top--r {
    margin-top:0;
}

.ponuda__bg {
    height:785px;
    background-size: cover;
    background-position: center center;
    position:relative;
    box-shadow:inset 0 0 0 2000px rgba(0,0,0,.7);

}
.gform_body {
    margin: 0 auto;
      width: auto;
}

p {
    color:white;
}

#gform_4 {
    width:100%;
    margin:0 auto;
}

}

/*DESKTOP VERZIJA */
@media only screen and (min-width: 651px) {
.ponuda__bg {
    height:650px;
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    background-size: cover;
  position:relative;
  box-shadow:inset 0 0 0 2000px rgba(0,0,0,.7);
  }

h1{
grid-row-start:2;
color:white;
}

h4 {
    color:#cc007b;
    text-transform: uppercase;
}

h2{
    line-height: 35px;
}

p {
    color:white;
}

.ponuda__content-top--l {
    display:grid;
  grid-area: ponuda__content-top--l;
  margin-left: 20px;
    margin-top: 150px;
}

.ponuda__content-top--r {
  grid-area: ponuda__content-top--r;
  grid-column-start:2;
  margin-top: 150px;
    margin-left: 100px;
}

.ponuda__content-row {
    display: grid;
 grid-template-areas: "ponuda__content-top--l" "ponuda__content-top--r";
 grid-template-columns: 1fr 1fr;
grid-template-rows: 0;
}

.pp-roza{
    color:#cc007b;
}

.content__single-title--row
{
    display: grid;
    grid-template-columns: 5fr 1fr;
}

.content__single-title-h1 {
    text-transform:capitalize;
}
}
